<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/images/slider/slide-1.png"/>
        <h2>My Fantastic Apps</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sunt labore obcaecati repellat eaque tempore atque rem neque itaque praesentium!</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slider/slide-2.png"/>
      <h2>What is Ionic?</h2>
      <p><b>Ionic Framework</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slider/slide-3.png"/>
      <h2>What is Ionic Appflow?</h2>
      <p><b>Ionic Appflow</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, enim id.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slider/slide-4.png"/>
      <h2>Ready to Play?</h2>
      <ion-button fill="clear" [routerLink]="['/tabs']">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
