<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-text >
          <h1 class="feed_title">{{ nome_usuario }}</h1>
        </ion-text>
        <ion-text >
          <p class="feed_date">Novembro 5, 1995</p>
        </ion-text>
      </ion-label>
    </ion-item>
        
  
    <img src="assets/images/advance-card-bttf.png"/>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Sunt animi deserunt optio quam at autem!
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-button size="small" fill="clear">
          <ion-icon  slot="start" name="thumbs-up-outline"></ion-icon>
          <div>12 Likes</div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" fill="clear">
          <ion-icon  slot="start" name="chatbubbles-outline"></ion-icon>
          <div>4 comments</div>
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>

    </ion-row>

  </ion-card>
  
</ion-content>
